canvas 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    width: 1280;
    height: 720;
    background-color: pink;
}

*
{
    background: linear-gradient(to top left, #ff9966 0%, #ff9999 100%);
}